main {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eceff1;
}

button {
  border: 1px solid grey;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.show-data {
  width: 100%;
  background-color: #cfd8dc;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 3px 3px red, -1em 0 .4em olive;

}

.show-data > h1 {
  text-align: center;
}

.show-data > img {
  display: block;
}

.show-info {
  width: 100%;
}

h1 {
  text-align: center;
}


@media (min-width: 800px) {

  .show-data {
    display: flex;
  }

  .show-info {
    padding: 10px;
  }
  
}

@media (max-width: 800px) {
  img {
    margin: auto;
  }

  .show-info > p {
    text-align: center;
    padding: 10px;
  }
}